@import url('https://fonts.googleapis.com/css?family=Alegreya|Open+Sans');
body {
      line-height: 38.8px !important;
    }
    h1, h2, h3, h4, h5, h6 {
      font-family: "Alegreya" !important;
      font-weight: normal !important;
    }
    
    .LogoSabaai {
    display: block;
    max-width: 530px;
    max-height: 530px;
    width: 100%;
    object-fit: cover;
    }

    /* .intro--title {
      font-weight: bold;
      line-height: 38.8px !important;
    }
    .intro--text {
      line-height: 38.8px !important;
    }
   */

    .menu-item-lg > h3 > a{
      color: #ff793f;  
    }

    nav img {
    display: inline-block;
    max-width: 10em;
    max-height: 2.5em;
    vertical-align: middle;
    }
    p {
      line-height: 2.3em !important;
      font-size: 0.9em;
    }

    
    .whitebox p {
      font-size: .8em !important;
      line-height: 30px !important;
      
    }



    .viagem-link {
      margin-bottom: 1em;
    }
    .professor-title {
      margin-top: 15px;
      font-size: 30px;
      line-height: 48px;
      text-align: left;
      letter-spacing: 2px;
    }
    
    .professor-text {
      font-size: .8em !important; 
      line-height: 32px !important;
      padding: 0 .3em;
    }

    nav a, header h1 {
      padding: 10px;
    }
    
    nav a:hover {
      color: rgb(202,82,58);
    }

    .intro {
      background-image: url('../images/bg2.jpg') !important;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    #viagem {
      background-image: url('../images/bg1.jpg') !important;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    .certificao img{
      margin-bottom: 1em;
      max-width: 100%;
    }

    

   

    /* @media only screen and(min-width: 48em) {
      .menu-item-lg {
        display: none;
      }
    } */

    #nos {
      background-image: url('../images/bg3.jpg') !important;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }

    #nos .content {
      background-color: rgba(255,255,255,1);
      
       
      padding: 30px 20px 0px 30px;
      
    }

    .header-page {
      background: url("../images/bg1.jpg");
      background-size: cover;
      background-position: center;
      height: 20vh;
      width: 100vw;
      margin: 0;
    }
   
    .header-page-overlay {
      background: rgba(0, 0, 0, 0.5);
      height: 20vh;
      width: 100vw;
    }

    .header-page-title {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .header-page-title h1 {
     color: white; 
    }
     

    #viagem .content {
      background-color: rgba(255,255,255,1);
       
      padding: 30px 20px 0px 30px;
    }

    h2 {
      font-size: 2em !important;
    }
    p {
      margin-top: 16px !important;
      margin-bottom: 16px !important;
      line-height: 1.5em;
    }

 


    .intro .content {
      background-color: rgba(255,255,255,1) !important;
       
      padding: 0px 20px 0px 30px;
    }

    .cursos-text h3{
      color: white !important;
      font-size: 1em;
      line-height: .9em;
      margin-bottom: .3em;
    }
    .cursos-text h4{
      color: white !important;
      font-size: .7em;
    }

    .curso-image {
      text-align: center;
      max-width: 700px !important;
      
    }

    .center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


      nav{
       position: fixed !important;
       top: 0;
      }

      .logo{
        visibility: visible !important;
      }
      
      

    .intro {
      font-size: 1em !important;
          line-height: 2.3em!important;
    }

    .sabaai-nav {
      z-index: 999;
    }

    article h1 {
      font-size: 3em;
    }

    #form-submit {
      background-color: #62bc93;
      border-radius: 0px;
    }
    #form-submit:hover {
      background-color: #62bc93;
      border-radius: 10px;
    }
    #form-submit:active {
      background-color: #509777;
      font-size: 1.05em;
      border-radius: 10px;
    }

    em {
      font-style: normal;
    }

    .inscrevase-container {
      background-color: #ff793f;
      width: 100%;
      padding: 40px;
    }

    .intro-logo  {
       

      -webkit-animation: fadein 4s;  
       -moz-animation: fadein 4s;  
        -ms-animation: fadein 4s;  
         -o-animation: fadein 4s;  
            animation: fadein 4s;
      }

      @keyframes fadein {
          0% { opacity: 0; }
          25% { opacity: 0; }
          100%   { opacity: 1; }
      }

    article {
      font-size: 1rem;
    }

    .gallery-item .overlay {
      border: 60px solid #ff793f;
      background-color: #ff793f;
      font-size: 2rem;
    }

    
    .overlay {
      padding: 10px;
    }
    #menu-item-lg h3 a{
       
      text-transform: uppercase;
    }
     
    header::before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
       
      background: #ff793f;
    }
    header {
      color: white;
    }

    .img-professor{
    margin-top: 3em;
    display: block;
    max-height: 393px;
    width: auto;

    }
   
     .page-title{
       margin: 2em 0 1em 0;
       font-size: 50px;
     } 

       .page-section h2{
       margin: 2em 0 1em 0;
       font-size: 1.5em !important;
     } 


       .page-section p{
       margin: 0;
       font-size: 0.8!important;
       text-align: left;
     } 

    .overlay h4 {
      color: white;
    }

    #viagem h2 {
      color: black !important;
    }

    .gallery img {
      padding: 60px !important;
    }

    #viagem .row img {
      padding: 10px 0px 10px 0px;
    }

    .about {
      background-color: rgb(243,219,188) ;
    }

    #contact {
      background-color:#ff793f;
    }

    .footer-sabaai {
      background-color: #62bc93;
    }

    .footer-sabaai div {
      color: white !important;
    }


    /* mobile */

  @media (min-width: 346px) and (max-width: 767.98px) { 
      .menu-item-lg{
        display: none !important;
        
      }

      .logo{
        visibility: visible !important;
      }
      /* nav{
       position: fixed !important;
        top: 0;
        bottom: 0;
      } */


      .img-professor {
        display: none;
      }

      .certificao img {
        max-width: 70%;
      }

      .curso-image {
      text-align: center;
      max-width: 100% !important;
      
    }
  }